<div *ngIf="statusPage" class="container">

  <div class="container_options">
    <div class="option_button" *ngFor="let n of results">
      <input
        type="button"
        name=" {{n.numero}}"
        value="{{n.numero}}"
        class="{{n.status}}"
        (click)="selecionarNumero( n.numero, n.id)"
      />
    </div>
  </div>
  <input
      type="button"
      class="enviar"
      value="ENVIAR NUMEROS ESCOLHIDOS"
      (click)="concluirSelecao()"
    />
</div>



  <!-- modal tooltip mensagem para usuario-->
  <div *ngIf="statusTooltip" class="tooltip">
    <div class="tooltip_mensagem">
      <span><p (click)="fecharToltip()">X</p></span>
      <p>{{mensagem}}</p>
    </div>
  </div>

    <!-- modal do form de envio de dados -->
  <div *ngIf="statusForm" class="tooltip">
    <div class="container_form">
      <div class="container_tooltip">
        <p class="tooltip_fechar" (click)="fecharFormumario()">X</p>
      </div>
      <h3>Preencha seus dados</h3>
      
      <form  (ngSubmit)="enviarDadosSelecionados()" class="form-group">
        <input
              type="text"
              name="name"
              [placeholder]="campoNomePlaceholder"
              [(ngModel)]="name"
              [ngClass]="erroCampoFormulario"
        >
        <input
              type="text"
              name="telefone"
              [placeholder]="campoTelefonePlaceholder"
              [(ngModel)]="telefone"
              [ngClass]="erroCampoFormulario"
        >
        <div class="btn_tooltipForm">
          <button type="submit">Enviar dados</button>
          <button (click)="fecharFormumario()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
