.container{
 margin: 10px;
 display: flex;
 flex-direction: column;

}

.container_options{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: fff;
}

.option_button{
  margin: 1px;

}

.D{
  width: 100%;
  border: none;
  color: #fff;
  font-size: 20px;
  background: #DC3C57;
  cursor: pointer;
}

.I{
  width: 100%;
  border: none;
  color: #fff;
  font-size: 20px;
  background: #885f46;
  cursor: pointer;
}

.option_button input:hover{
  background-color: #7A2A4F;
}


input:active{
 position: relative;
 top: 1px;
}

.enviar{
  background: #DC3C57;
  border: none;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.enviar:hover{
  background-color: #7A2A4F;
}

input:disabled{
  background-color: #885f46;
  cursor:auto;
}

/*modal tooltip enviar dados sem numeros selecionados*/
.erro_enviar-numeros{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, 0.9);
  width: 40%;
  margin: auto;
}

.mensagem-erro{
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: #DC3C57;
  padding: 15px;
  margin-bottom: 15px;
  color: #fff;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  border-radius: 20px;
}

.mensagem-erro span{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.mensagem-erro span p{
  background: #fff;
  color: #DC3C57;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

/* CONFIGURANDO O FORM TOOLTIP DE ENVIO DE DADOS*/
.tooltip{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(77, 77, 77, 0.9);
  width: 40%;
  margin: auto;
}

.container_form{
  display: flex;
  flex-direction: column;
  width: 450px;
  padding: 15px;
  background: palevioletred;
}

.container_form h3{
  width: 100%;
  background-color: #DC3C57;
  padding: 15px;
  margin-bottom: 15px;
  color: #fff;
  text-align: center;
}

.form-group{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group input{
  padding: 10px;
  margin-bottom: 10px;
}

.form-group button{
  background: #DC3C57;
  border: none;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  width: 48%;
}

.form-group button:hover{
  background-color: #7A2A4F;
}

.form-group button:active{
  position: relative;
  top: 1px;
}

.btn_tooltipForm{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container_tooltip{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}


.tooltip_fechar{
  background: #fff;
 font-size:20px;
  padding: 10px;
  color: #DC3C57;
  font-weight: bolder;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}

/*Erro de campo*/
.alerta::placeholder{
  color: red;
  font-weight: bold;
}

/*Css da mensagem ao usuario*/
.mensagem-usario{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(77, 77, 77, 0.9);
  width: 40%;
  margin: auto;
}

.mensagem{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  padding: 15px;
  background: #888;
  color: #fff;
  font-size: 18px;
  border: 5px solid #DC3C57;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.mensagem .btn_ok{
  background: #DC3C57;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
}
