.container{
  background: rgb(250,215,223);
  background: linear-gradient(180deg, rgba(250,215,223,1) 85%, rgba(22,21,21,0.05) 100%);
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
  margin: auto;
}

.container_img{
  width: 100%;
}

.container_img img{
  width: 100%;
}

.container_info-topo{
  display:flex ;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 30px;

  font-size: 20px;
}

.info-topo_info-sorteio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_info-topo span{
  display: flex;
  background-color: #DC3C57;
  padding-left: 10px;
  padding-right: 10px;
  width: 200px;
  color:#fff;

  border-radius: 120px;
  justify-content: center;
}

.contato{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
.container_info-topo img{
  width: 30px;
  margin-left: 20px;
}


.login-admin{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.login-admin a{
  background: #DC3C57;
  width: 60px;
  height: 60px;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  margin-right: 20px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  padding-top: 15px;
}
