.container_page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 100%;

}

.page-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 100%;
}
.page-img{
  max-width: 400px;
}

